// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #344a3c;
$info: #6610f2;

// Button
$btn-font-weight: 600;

// Table
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 0.75rem;
$table-striped-bg-factor: 0.02;

// Card
$card-border-width: 0;
